page-donations {
    .chart-wrapper {
        width: 95%;
        display: inline-block;
        margin: 1em 1em;
     }
     canvas  {
        height: 300px;
     }
     .roundbutton{
        display:block;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid red;
  
      }
}
